body{
    box-sizing: border-box;
    font-family: Verdana,  Tahoma, sans-serif;
    height: 100vh;
    height: 100vh;
    overflow-x: auto;
    overflow-y: scroll;
}

header{
  display : flex;
  align-items: center;
  justify-content: space-between
}


ul{
  list-style-type: none;
}

a {
  text-decoration: none;
}

header a{
  color: #1E6334;
  font-weight: bold;
  background-color: white;
}

/*Centering the middle items*/
.title,
.navbar a{
 text-align: center;
}


.navbar button:hover{
  cursor:pointer;
}


/* Centering the  links at right corner of the header*/
.other-links{
  display: flex;
  padding: 10px;
}

/* Changing other links colors */
.other-links a{
  display: flex;
  padding: 2px 20px;
  flex-direction: column;
  color: rgb(24, 23, 23);
  background-color: #e8ec10;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

/* Changing right links on hover */
.other-links a:hover{
  background: #f0b1d4;
}

/*Dropdwon button*/
.dropbtn{
  color: #1E6334;
  font-weight: bold;
  padding: 16px;
  font-size: 16px;
  border: none;
  display: inline-flex;
  background-color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 15px 15px 15px 15px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #1E6334;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover{
  background-color: #ddd;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}


/*slide show container*/
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;}

/* Hide the images by default */
.mySlides{
  display: none;
}

/* Holding image and text in the slide show*/
.mySlides{
    position: relative;
    text-align: center;
  }

/*Centering text on slide show image*/
.slide-text{
    display:flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height:auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0, 0.4);
  }



/*Changing color of centered text on slide bar*/
.slide-text h3{
    color: white;
    padding-left: 30px;
    font-weight: bolder;
  }

  .slide-text h1{
    color: #f3f162;
    font-weight: bold;
  }

  .left-item{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*Adjusting h1,h3 and btn*/

  .left-item h1, h3{
    margin-top: 0;
    margin-bottom: 0;
  }

  .left-item h1{
    margin-right: 130px;
  }

  .left-item.one {
    margin-right: 100px;
  }

  .left-item.one button{
    margin-left: 40px;
  }

  .left-item.two{
    margin-right: 200px;
  }

  .left-item.two h3{
    margin-left: 60px;
  }


  .left-item.three h3{
    margin-right: 300px;
  }

  .left-item.four h3{
    margin-right: 495px;
  }


  .slide-text.five h3{
   margin-right: 200px;
  }

  .slide-text.five button{
    margin-left: 200px;

  }

  
  /*Text over btn*/
.slide-text button{
  margin-top: 10px;
  margin-right: 100px;
  margin-bottom: 10px;
  align-items: center;
  padding: 12px;
  border-radius:10px;
  border-bottom: #000;
  background-color: rgb(219, 209, 209);
}

.slide-text button:hover{
  background-color: #f0ed6a;
}

.slide-text button a{
  color: #000;
  font-weight: bold;
  font-size: large;
}



/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -50px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* change next  and previous button over hover */
.prev:hover,.next:hover{
  color: rgba(0,0,0, 0.4);
}

/* The dots/bullets/indicators */
.dot,
.dots {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: rgb(236, 224, 47);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  
}

.text-align-center{
  position: relative;
  margin-top: -20px;
}

.active, .dot:hover {
  background-color: #717171;
}



/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*Motto*/
.motto{
  position: relative;
  margin-top: -2px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: #1E6334;
  padding-top: 10px;
  padding-bottom: 50px;
}

.explaination{
  color: white;
}


/*School departments placeholder*/
.department-description,
.dep-text
{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(196,208,213);
}

.department-description{
  gap:20px;
}

.dep-header a{
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: rgb(196,208,213);
}

.dep-img{
  border: 10px solid white;
  position: relative;
}

.dep-header{
  position: relative;
  border-radius: 15px;
}


/*Green background with school calender*/
.empty{
  padding-top: 600px;
  padding-bottom: 10px;
  background-color: #1E6334;
  padding-bottom: 30px;
}

.empty p{
  text-align: center;
  color: white;
  font-size: 20px;
}

.empty hr {
  border: 2px solid #e8ec10;
}



/*Centering items in - Graduates current school*/
.universities-logos{
  text-align: center;
}

.graduates-school h1{
  text-align: center;
  color: #1E6334;
  font-weight: bold;
  font-size: 40px;
}

/*Spacing the logos*/
.logo{
  margin-bottom: 30px;
}

.logo.first-row,
.logo.second-row,
.logo.third-row
{
  display: flex;
  justify-content: center;
  gap: 40px;
}

/*Contact and disclaimer container*/
.policy-contact-container{
background-color: #1E6334;
padding-top: 5px;
padding-bottom: 5px;
}

/*Centering disclaimer*/
.disclaimer{
  background-color: #ddd;
  padding: 20px;
  font-size: 15px;
}


/*Testimonial slides*/
.testimonial-container{
  padding-top: 30px;
  max-width: 100%;
  position: relative;
  margin: auto;
  background-color: #ddd;
  margin-top: -15px;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
}

/*Hiding testimony */
.testimony {
  display: none;
  position: relative;
  padding-bottom: 70px;
  padding-top: 30px;
}

/*Changing footer background*/

footer{
  background-color: #1E6334;
}

/*Centering Contacts container*/
.contacts{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
}


.contacts p{
  color: #f1de2c;
  font-weight: bold;
}

.contacts h2{
  color:#f9f9f9;
  padding-bottom: 40px;
}

.email p{
color: white;
}


/*Affiliatins and Locations*/
.locations-and-associations,
.affiliations,
.SHS-and-Social-Handles
{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.affiliates{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap:10px;
}

/*Yellow border on */
.SHS-and-Social-Handles{
  border-left: 2px solid yellow;
  padding-left: 20px;
}


/* Style all font awesome icons */
.fa {
  padding: 14px 14px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  gap:25px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  margin-right: 20px;
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  margin-right: 20px;
  background: #55ACEE;
  color: white;
}

/*Instagram*/
.fa-instagram{
  margin-left: 5px;
  color: white;
  background:#f01c86;
}


/*Copy Right*/
.copy-right{
  color: yellow;
  background-color: rgb(19, 18, 18);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 0px;
  margin-bottom: 15;
}
