body{
    box-sizing: border-box;
    font-family: Verdana,  Tahoma, sans-serif;
    height: 100vh;
    overflow-x: auto;
    overflow-y: scroll;
}


a{
    text-decoration: none;
    cursor: pointer;
}


ul{
    text-decoration: none;
    list-style-type: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
  color: #1E6334;
}

/* Items in the midle of the header*/
.main-nav{
    text-align: center;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    font-family: Arial;
  }
  
/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: #1E6334;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
  }
  
/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #1E6334;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
    cursor: pointer;
    font-weight: bold;
  }
  
 
  
/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15px 15px 15px 15px;
    
  }
  
  /* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: #1E6334;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
  }
  
  /* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 15px 15px 15px 15px;
  }
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
  }


/* Centering the  links at right corner of the header*/
.other-links{
    display: flex;
    padding: 10px;
  }

/* Changing other links colors */
.other-links a{
    display: flex;
    padding: 2px 20px;
    flex-direction: column;
    color: #000;
    background-color: #e8ec10;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 15px;
  }

  
/* Changing right links on hover */
.other-links a:hover{
    background: #f0b1d4;
  }

/*slide show container*/
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  background-color: #1E6334;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Holding image and text in the slide show*/
.mySlides{
    position: relative;
    text-align: center;
  }

/*Centering text on slide show image*/
.slide-text{
    display:flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height:auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0, 0.4);
  }



/*Changing color of centered text on slide bar*/
.slide-text h3{
    color: white;
    padding-left: 30px;
    font-weight: bolder;
  }

  .slide-text h1{
    color: #f3f162;
    font-weight: bold;
  }

  .left-item{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*Adjusting h1,h3 and btn*/

  .left-item h1, h3{
    margin-top: 0;
    margin-bottom: 0;
  }

  .left-item h1{
    margin-right: 130px;
  }

  .left-item.one {
    margin-right: 100px;
  }

  .left-item.one button{
    margin-left: 40px;
  }

  .left-item.two{
    margin-right: 200px;
  }

  .left-item.two h3{
    margin-left: 60px;
  }


  .left-item.three h3{
    margin-right: 300px;
  }

  .left-item.four h3{
    margin-right: 495px;
  }


  .slide-text.five h3{
   margin-right: 200px;
  }

  .slide-text.five button{
    margin-left: 200px;

  }

  
  /*Text over btn*/
.slide-text button{
  margin-top: 10px;
  margin-right: 100px;
  margin-bottom: 10px;
  align-items: center;
  padding: 12px;
  border-radius:10px;
  border-bottom: #000;
  background-color: rgb(219, 209, 209);
}

.slide-text button:hover{
  background-color: #f0ed6a;
}

.slide-text button a{
  color: #000;
  font-weight: bold;
  font-size: large;
}



/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -50px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* change next  and previous button over hover */
.prev:hover,.next:hover{
  color: rgba(0,0,0, 0.4);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: rgb(236, 224, 47);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  
}

.text-align-center{
  position: relative;
  margin-top: -20px;
}

.active, .dot:hover {
  background-color: #717171;
}



/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*Motto*/
.motto{
  position: relative;
  margin-top: -2px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: #1E6334;
  padding-top: 10px;
  padding-bottom: 50px;
}

.explaination{
  color: white;
}


/*School departments placeholder*/

.department-holder{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(196,208,213,1);
  padding-bottom: 50px;
  gap: 30px;
}

.dep-text{
  text-align: center;
  padding: 10px;
}

  /*Center h1 & img*/
.dep-img-desc{
  display:flex;
  gap: 20px;
  padding-top: 20px;
}

.department{
  position: relative;
}

.dep-header h2{
  position:absolute;
}



.dep-header a,
.dep-header{
  color: #000;
  text-align: center;
  background-color: rgba(196,208,213,1);
}

.dep-img{
  position: sticky;
  border: 10px solid #fff;
}


.dep-header h2{
  position: relative;
  padding: 5px;
}



